.table {
    width: 100vw;   
}

button {
    padding: 5px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 20px #00000056;
}

.btn-update {
    background-color: blue;
    color: white;
    text-transform:capitalize;
    font-size: 12px;
}

.btn-delete {
    background-color: red;
    color: white;
    text-transform:capitalize;
    font-size: 12px;
}